<%- include("header") -%>

<div class="card report-card">
  <div class="card-header">
    Report Card
  </div>
  <div class="card-body">
    <p class="card-text">Address: <%= property.address %></p>
    <p class="card-text">Price: <%= property.price %></p>
    <p class="card-text">School rating: <%= property.school %></p>
    <p class="card-text">Crime: <%= property.crime %></p>
    <p class="card-text">Example: <%= property.example %></p>
    <p class="card-text">Example: <%= property.example2 %></p>
  </div>
</div>
<%- include("footer") -%>